
            
                <a routerLink=''  class=" pagina1 list-group-item list-group-item-action">
                Home(Pagina 1)
                </a>
                <a  routerLink='pagina2' routerLinkActive='active' class="list-group-item list-group-item-action">
                    Pagina 2
                </a>
                <a routerLink='form-mijn-gegevens-wijzigen' routerLinkActive='active' class="list-group-item list-group-item-action">
                    Mijn Gegevens Wijzigen 
                </a>
                <a routerLink='pagina2' class="list-group-item list-group-item-action">
                    Pagina 2
                </a>
                <a routerLink='' class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">
                    Pagina 1
                </a>
            
                

 
